/* ---------->> MAIN STREAM <<---------- */

.mainStreamers{
    display: grid;
    grid-template-rows:1fr 2fr;
    width: 100%;
    background-color: var(--light-gray-blue);
    text-align: center;
    padding-bottom: 80px;
}

.img_stream{
    width: 200px;
}

.title{
    font-size: 300%;
    margin: 50px;
}

.infostream{
    margin: 20px;
}

/* ---------->> PLATAFORMS <<---------- */

.plataforms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2%;
    position: relative;
}

.infostream_content {
    margin: 0 40px;
}

.plataforms_id {
    position: relative;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

.img_plataforms, .description_plataforms{
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.img_plataforms{
    z-index: 2;
    transform: rotateY(0deg);
    transition: all 0.5s linear;   
}

.description_plataforms{
    transition: all 0.5s linear;
    transform: rotateY(180deg);
    background-color: beige;
    color: blue;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plataforms_id:hover .img_plataforms{
    transform: rotateY(180deg);
}

.plataforms_id:hover .description_plataforms{
    transform: rotateY(360deg);
}

.description_plataforms_content {
    text-align: justify;
}

.img_streams{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.button_plataforms{
    /* background-color: rgb(66, 73, 129); */
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
}

.description_plataforms:hover{
    transition: all ease-in-out 0.3s;
    transform: scale(1.05);
    box-shadow:
    0px 0px 5px var(--ligth-blue),
    0px 0px 8px var(--ligth-blue),
    0px 0px 11px var(--ligth-blue),
    0px 0px 14px var(--ligth-blue),
    0px 0px 17px var(--ligth-blue);
}

/* ---------->> STREAMERS <<---------- */

.containerStream{
    margin: 5px;
    border-radius: 2px;
    background-color: rgb(80, 62, 62);
}

.containerStream:hover{
    transition: all ease-in-out 0.5s;
    transform: scale(1.05);
    box-shadow:
    0px 0px 5px var(--ligth-blue),
    0px 0px 8px var(--ligth-blue),
    0px 0px 11px var(--ligth-blue),
    0px 0px 14px var(--ligth-blue),
    0px 0px 17px var(--ligth-blue);
}

.cont_stream{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    margin: 2%;
    position:relative;
}

.containerStream{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 5px;
}

.video_stream{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container_stream{
    position: static;
    margin-left: 50px;
    margin-right: 50px;
}

.img_streams_best{
    margin: 6px;
}

.description_stream h4{
    font-size: 30px;
    margin: 5px 0;
}

.description_stream_content {
    margin: 5px 30px;
}

/* ---------->> VIDEOS <<---------- */

.video_stream{
    margin-bottom: 50px;
    margin-top: -200px;
}














